body{
    background: #505050;
}
table, th, td {
    border: 1.5px solid black;
    background:#404040;
    font-family: Arial, Helvetica, sans-serif;
    font-size:0.40cm;
    width: 1500px;
    color: white;
}
.square {
    height: 99px;
    width: 180px;
    background-color:pink;
    margin-top: -310px;
    margin-left: 189px;

  }
  .square1 {
    height: 99px;
    width: 180px;
    background-color:pink;
    margin-top: -306px;
    margin-left: 189px;

  }
  .square3 {
    height: 100px;
    width: 181px;
    background-color:pink;
    margin-top: -100px;
    margin-left: 751px;

  }
  .square4 {
    height: 100px;
    width: 181px;
    background-color:pink;
    margin-top: 4px;
    margin-left: 751px;

  }
  .square5 {
    height: 100px;
    width: 183px;
    background-color:pink;
    margin-top: -100px;
    margin-left: 563px;

  }
  p1 {
      font-size: 1.8cm;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
  }
  .square6 {
    height: 100px;
    width: 181px;
    background-color:#707070;
    margin-top: 3px;
    margin-left: 1315px;

  }
  .square7 {
    height: 100px;
    width: 181px;
    background-color:#707070;
    margin-top: 3px;
    margin-left: 1315px;

  }
  .square8 {
    height: 100px;
    width: 181px;
    background-color:#707070;
    margin-top: 3px;
    margin-left: 1315px;

  }
  .square9 {
    height: 100px;
    width: 181px;
    background-color:#707070;
    margin-top: -100px;
    margin-left: 1128px;

  }