@import url('https://fonts.google.com/specimen/Libre+Barcode+39?category=Display,Monospace');
body{
    background: black;
    
}
table {
    border: 1.5px solid white;
    background: black;
    font-family: 'Courier New', sans-serif;
    font-size:0.60cm;
    color: white;
    
}
@media screen and (max-width: 1900px) {
    .left, .main, .right {
      width: 100%;
    }
}
th
{
    border: 1.5px solid white;
    background: black;
    font-family: 'Courier New', sans-serif;
    font-size:0.60cm;
    color: white;
    
}
td{
    border: 1.5px solid white;
    background: black;
    font-family: 'Courier New', sans-serif;
    font-size:0.60cm;
    color: white;
    
}
.ttable {
border: 100%;
}