@import url("https://fonts.google.com/specimen/Josefin+Sans?category=Sans+Serif,Monospace");
body {
  background: black;
  height: 100%;
  font-family: "Josefin Sans", cursive;
}
table {
  width: 100%;
  height: 95%;
  border: 1.5px solid white;
  background: black;
  font-family: "Josefin Sans", cursive;
  font-size: 0.6cm;
  border-collapse: collapse;
  color: white;
}
header {
  font-family: "Josefin Sans", cursive;
  text-align: center;
  color: white;
  font-size: 50px;
}
th {
  border: 1.5px solid white;
  background: black;
  font-family: "Josefin Sans", cursive;
  font-size: 0.6cm;
  text-align: center;
  color: white;
}
td {
  border: 1.5px solid white;
  background: black;
  font-family: "Josefin Sans", cursive;
  font-size: 0.6cm;
  color: white;
  text-align: center;
}
@media screen and (max-width: 1300px), (max-height: 600px) {
  header {
    font-size: large;
  }
  table {
    border-collapse: collapse;
    width: 98%;
    height: 95%;
  }
}
@media screen and (max-width: 915px) {
  header {
    font-size: large;
  }
  table {
    width: 98%;
    height: 90%;
  }
}
@media screen and (max-height: 500px) {
  header {
    font-size: medium;
  }
  table {
    height: 90%;
    font-size: x-small;
  }
}
