body {
    background-color: black;
    margin: 0px;
    padding: 0px;
    background-size: 100%;
}
.slunce {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/25/The_Sun_by_the_Atmospheric_Imaging_Assembly_of_NASA%27s_Solar_Dynamics_Observatory_-_20100819-02.jpg);
    margin:auto;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    background-size: cover;
    box-shadow: -4px 2px 56px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
}
.merkur {
    background-color: gray;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    box-shadow:-4px 2px 56px;
    left: 49%;
    top: 48%;
    transform: translate(-50%, -50%);
    animation: merkur 2s linear infinite;
}
@keyframes merkur {
    from{transform:rotate(0deg)translateX(70px) rotate(0deg);}
    to{transform:rotate(360deg)translateX(70px) rotate(-360deg);}
}

